@inherits LayoutComponentBase
<div class="main">
    <div class="top-row px-4">
       
       <h3>Change history reports</h3>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
